{% extends 'base.html' %}

{% block title %}Delete Book{% endblock %}

{% block header %}Delete Book{% endblock %}

{% block content %}

	<p>Are you sure you want to delete {{ book['title'] }}?</p>
	<form method='post'>
		<input type="submit" value="Delete">
		<a href="{{ url_for('showBook') }}">Cancel</a>
	</form>

{% endblock %}