{% extends 'base.html' %}

{% block title %}Edit Book{% endblock %}

{% block header %}Edit Book{% endblock %}

{% block content %}

	<form method="post">
		<label for="title">Name:</label>
		<br>
		<input name='title' id='title' value="{{ book['title'] }}" required>
		<input type='submit' value='Edit'>
		<a href="{{ url_for('showBook') }}">Cancel</a>
	</form>

{% endblock %}