{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block header %}Books{% endblock %}

{% block content %}
	{% for book in books %}
		<h3>{{ book['title'] }}</h3>
		<a href="{{ url_for('editBook', id=book['id']) }}">
			Edit book
		</a>
		<br>
		<a href="{{ url_for('deleteBook', id=book['id']) }}">
			Delete book
		</a>
		<br>
	{% endfor %}
{% endblock %}