{% extends 'base.html' %}

{% block title %}New Book{% endblock %}

{% block header %}New Book{% endblock %}

{% block content %}

	<form method='POST'>
		<label for="title">Name:</label>
		<br>
		<input name="title" id="title">
		<input type="submit" value="Create">
		<a href="{{ url_for('showBook') }}">Cancel</a>
	</form>

{% endblock %}